<template>
  <q-layout :style="{ backgroundColor: backgroundColor}">
    <toolbar slot="header"></toolbar>
    <drawer></drawer>
    <div class="layout-view">
      <content-header></content-header>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
  </q-layout>
</template>
<script>
  import toolbar from './/toolbar/toolbar.vue'
  import drawer from './drawer/drawer.vue'
  import contentHeader from './content-header.vue'
  export default {
    name: 'app-sss',
    data () {
      return {
        backgroundColor: 'whitesmoke'
      }
    },
    components: {
      toolbar,
      drawer,
      contentHeader
    }
  }
</script>
