<template>
  <div class="materialContainer">


    <div class="box">

      <div class="title">Company & Co</div>

      <div class="input">
        <label for="name">Email</label>
        <input type="email" v-model="email" name="name" id="name">
        <span class="spin"></span>
      </div>

      <div class="input">
        <label for="pass">Password</label>
        <input type="password" v-model="password" name="pass" id="pass">
        <span class="spin"></span>
      </div>

      <div class="button login">
        <button @click="login"><span>Sign In</span> <i class="fa fa-check"></i></button>
      </div>

      <a href="" class="pass-forgot">Forgot your password?</a>

    </div>

    <div class="overbox">
      <div class="material-button alt-2"><span class="shape"></span></div>

      <div class="title">Registration</div>

      <div class="input">
        <label for="regname">Email</label>
        <input type="email" v-model="regEmail" name="regname" id="regname">
        <span class="spin"></span>
      </div>

      <div class="input">
        <label for="regpass">Username</label>
        <input type="text" v-model="regUserName" name="regpass" id="regpass">
        <span class="spin"></span>
      </div>

      <div class="input">
        <label for="reregpass">Password</label>
        <input type="password" v-model="regPassword" name="reregpass" id="reregpass">
        <span class="spin"></span>
      </div>

      <div class="button">
        <button @click="register"><span>Get Started</span></button>
      </div>
      <a href="">Return to Login</a>


    </div>

  </div>
</template>

<script>
  import $ from 'jquery'
  import axios from './../configs/axios'
  $(function () {
    $('.input input').focus(function () {
      $(this).parent('.input').each(function () {
        $('label', this).css({
          'line-height': '18px',
          'font-size': '18px',
          'font-weight': '100',
          'top': '0px'
        })
        $('.spin', this).css({
          'width': '100%'
        })
      })
    }).blur(function () {
      $('.spin').css({
        'width': '0px'
      })
      if ($(this).val() === '') {
        $(this).parent('.input').each(function () {
          $('label', this).css({
            'line-height': '60px',
            'font-size': '24px',
            'font-weight': '300',
            'top': '10px'
          })
        })
      }
    })

    $('.button').click(function (e) {
      var pX = e.pageX,
        pY = e.pageY,
        oX = parseInt($(this).offset().left),
        oY = parseInt($(this).offset().top)

      $(this).append('<span class="click-efect x-' + oX + ' y-' + oY + '" style="margin-left:' + (pX - oX) + 'px;margin-top:' + (pY - oY) + 'px;"></span>')
      $('.x-' + oX + '.y-' + oY + '').animate({
        'width': '500px',
        'height': '500px',
        'top': '-250px',
        'left': '-250px'

      }, 600)
      $('button', this).addClass('active')
    })

    $('.alt-2').click(function () {
      if (!$(this).hasClass('material-button')) {
        $('.shape').css({
          'width': '100%',
          'height': '100%',
          'transform': 'rotate(0deg)'
        })

        setTimeout(function () {
          $('.overbox').css({
            'overflow': 'initial'
          })
        }, 600)

        $(this).animate({
          'width': '140px',
          'height': '140px'
        }, 500, function () {
          $('.box').removeClass('back')

          $(this).removeClass('active')
        })

        $('.overbox .title').fadeOut(300)
        $('.overbox .input').fadeOut(300)
        $('.overbox .button').fadeOut(300)

        $('.alt-2').addClass('material-buton')
      }
    })

    $('.material-button').click(function () {
      if ($(this).hasClass('material-button')) {
        setTimeout(function () {
          $('.overbox').css({
            'overflow': 'hidden'
          })
          $('.box').addClass('back')
        }, 200)
        $(this).addClass('active').animate({
          'width': '700px',
          'height': '700px'
        })

        setTimeout(function () {
          $('.shape').css({
            'width': '50%',
            'height': '50%',
            'transform': 'rotate(45deg)'
          })

          $('.overbox .title').fadeIn(300)
          $('.overbox .input').fadeIn(300)
          $('.overbox .button').fadeIn(300)
        }, 700)

        $(this).removeClass('material-button')
      }

      if ($('.alt-2').hasClass('material-buton')) {
        $('.alt-2').removeClass('material-buton')
        $('.alt-2').addClass('material-button')
      }
    })
  })
  export default {
    name: 'Login',
    data () {
      return {
        email: '',
        password: '',
        regEmail: '',
        regUserName: '',
        regPassword: ''
      }
    },
    methods: {
      login: async function () {
        try {
          const response = await axios.post('user/login', {
            email: this.email,
            password: this.password
          })
          localStorage.setItem('token', response.data.token)
          localStorage.setItem('isAdmin', response.data.isAdmin)
          if (response.status === 200) this.$router.replace('/app')
        }
        catch (error) {
          console.log(error)
          this.error = error
        }
      },
      register: async function () {
        try {
          const response = await axios.post('user/register', {
            password: this.regPassword,
            email: this.regEmail,
            username: this.regUserName
          })
          if (response.status === 200) this.$router.replace('/')
        }
        catch (error) {
          console.log(error)
          this.error = error
        }
      }
    }
  }
</script>

<style>
  @import "auth.css";
</style>
